<div class="row">
	<div class="col-xs-12">
		<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
			<div class="row">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-success"
					[disabled]="!bookForm.valid">Save</button>
					<button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="title">Book Title</label>
						<input 
						  type="text" id="title"
						  formControlName="title"
						  class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="author">Author</label>
						<input 
						  type="text" id="author"
						  formControlName="author"
						  class="form-control">
					</div>
				</div>
			</div>
						
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="imagePath">Book Image URL</label>
						<input 
						  type="text" id="imagePath"
						  formControlName="imagePath"
						  class="form-control">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label for="isbn">ISBN</label>
						<input 
						  type="text" id="isbn"
						  formControlName="isbn"
						  class="form-control">
					</div>
				</div>
			</div>

		</form>
	</div>
</div>