<div class="container-fluid" *ngIf="isAdminCheck()">
	<div class="col-xs-12">
		<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="title">Book Title</label>
							<input 
							  type="text" id="title"
							  formControlName="title"
							  class="form-control">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="author">Author</label>
							<input 
							  type="text" id="author"
							  formControlName="author"
							  class="form-control">
						</div>
					</div>
				</div>
							
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="imagePath">Book Image URL</label>
							<input 
							  type="text" id="imagePath"
							  formControlName="imagePath"
							  class="form-control">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label for="isbn">ISBN</label>
							<input 
							  type="text" id="isbn"
							  formControlName="isbn"
							  class="form-control">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="radio-inline label label-success">
								<input type="radio" id="available" name="action" value="available" for="action" formControlName="action">Make Available
							</label>
							<label class="radio-inline label label-danger">
								<input type="radio" id="hold" name="action" value="hold" for="action" formControlName="action">On Hold
							</label>
							<label class="radio-inline label label-info" >
								<input type="radio" id="unavailable" name="action" value="unavailable" for="action" formControlName="action">Issue Book
							</label>						
						</div>
					</div>
				</div>

				<div class="row">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-success"
							[disabled]="!bookForm.valid">Save</button>
							<button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>					
						</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="container-fluid" *ngIf="!isAdminCheck()">
	<div class="col-xs-12">
		<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
				<div class="row" style="padding:3%">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="radio-inline label label-warning">
								<input type="radio" id="hold" name="action" value="hold" for="action" formControlName="action">Hold This Book
							</label>
						</div>
					</div>
				</div>

				<div class="row">
						<div class="col-xs-12">
							<button type="submit" class="btn btn-success"
							[disabled]="!bookForm.valid">Save</button>
							<button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>					
						</div>
				</div>	
		</form>
	</div>
</div>
