
<div class="row">
	<div class="col-xs-12">
	  <h1>{{ book.title }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	  <p>{{book.ISBN}}</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	  <p>{{book.author}}</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<img [src]="book.imagePath" alt="" class="img-responsive"
		style="max-height: 300px;">
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	  <div class="btn-group"
	  appDropdown>
	  	<button type="button" class="btn btn-primary dropdown-toggle">
	  		Manage Book 
	  		<span class="caret"></span>
	  	</button>
	  	<ul class="dropdown-menu">
	  		<li><a style="cursor: pointer;">Edit Book</a></li>
	  		<li><a style="cursor: pointer;">Delete Book</a></li>	  		
	  	</ul>
	  </div>
	</div>
</div>